@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(50,50,50);
}

.container {
    font-family: 'Sulphur Point', sans-serif;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgb(21,20,25);
    position: fixed;
}

h1 {
    color: white;
    font-size: max(3.5vw, 1.7rem);
}

.overall-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
    font-size: 1.3rem;
    border-radius: 0.8rem;
    border: 1px solid white;
    background-color: rgba(255, 173, 92, 0.095);
}

nav > ul > li > a{
    color: white;
    text-decoration: none;
    font-weight: 900;
}

.menu > h2 {
    padding: 20px;
    position: absolute;
    font-size: 1.3rem;
    top: 14px;
    left: 86.5%;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

a:not(.link-4) {
    margin-right: 100px;
}

ul > li > .link-2 {
    margin-right: 220px;
}

.extra-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(30, 22, 14), rgb(21,20,25));
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    position: absolute;
    width: 160px;
    height: 200px;
    top: 0;
    margin-top: 80px;
    margin-left: -185px;
    opacity: 0;
    transition: 0.3s;
}

.extra-links > a {
    color: white;
    text-decoration: none;
    padding: 20px 0;
    margin-left: 100px;
}

.menu:hover .extra-links {
    opacity: 1;
}

a {
    transition: 0.2s;
}

a:hover {
    color: orange;
}
